{% extends "layout.html.twig" %}
{% block contenu %}
    <br><br><h1 style="color:#ff0000;"align="center">Erreur : vous n'avez pas les droits pour accéder à cette page !!!<br>Veuillez vous connecter avant de pouvoir accéder à cette page.</h1>
{% endblock %}